{% extends 'base.html' %}
{% block title %}Answer Objective | VirtClass{% endblock %}
{% block content %}
  <div class="card">
    <h3>{{ a.title }}</h3>
    <form method="post">
      {% csrf_token %}
      {% for q in a.questions.all %}
        <div class="card" style="padding:10px;margin-bottom:10px">
          <strong>{{ forloop.counter }}. {{ q.text }}</strong><br>
          {% for opt in q.options.all %}
            <label><input type="radio" name="q{{ q.id }}" value="{{ opt.id }}"> {{ opt.text }}</label><br>
          {% endfor %}
        </div>
      {% endfor %}
      <button class="btn">Submit</button>
    </form>
  </div>
{% endblock %}
